jaxws-notebookwebserviceclient/src/wsdl/NotebookService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.1-SNAPSHOT svn-revision#6a0b290fe358f9de4deeec2d1ec3f6e76afa8005. -->
<definitions targetNamespace="http://notebookwebservice.mickaelbaron.fr/" name="NotebookService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://notebookwebservice.mickaelbaron.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://notebookwebservice.mickaelbaron.fr/" schemaLocation="NotebookService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addPersonWithComplexType">
    <part name="parameters" element="tns:addPersonWithComplexType"/>
  </message>
  <message name="addPersonWithComplexTypeResponse">
    <part name="parameters" element="tns:addPersonWithComplexTypeResponse"/>
  </message>
  <message name="getPersons">
    <part name="parameters" element="tns:getPersons"/>
  </message>
  <message name="getPersonsResponse">
    <part name="parameters" element="tns:getPersonsResponse"/>
  </message>
  <message name="getPersonByName">
    <part name="parameters" element="tns:getPersonByName"/>
  </message>
  <message name="getPersonByNameResponse">
    <part name="parameters" element="tns:getPersonByNameResponse"/>
  </message>
  <message name="addPersonWithSimpleType">
    <part name="parameters" element="tns:addPersonWithSimpleType"/>
  </message>
  <portType name="NotebookService">
    <operation name="addPersonWithComplexType">
      <input wsam:Action="http://notebookwebservice.mickaelbaron.fr/NotebookService/addPersonWithComplexTypeRequest" message="tns:addPersonWithComplexType"/>
      <output wsam:Action="http://notebookwebservice.mickaelbaron.fr/NotebookService/addPersonWithComplexTypeResponse" message="tns:addPersonWithComplexTypeResponse"/>
    </operation>
    <operation name="getPersons">
      <input wsam:Action="http://notebookwebservice.mickaelbaron.fr/NotebookService/getPersonsRequest" message="tns:getPersons"/>
      <output wsam:Action="http://notebookwebservice.mickaelbaron.fr/NotebookService/getPersonsResponse" message="tns:getPersonsResponse"/>
    </operation>
    <operation name="getPersonByName">
      <input wsam:Action="http://notebookwebservice.mickaelbaron.fr/NotebookService/getPersonByNameRequest" message="tns:getPersonByName"/>
      <output wsam:Action="http://notebookwebservice.mickaelbaron.fr/NotebookService/getPersonByNameResponse" message="tns:getPersonByNameResponse"/>
    </operation>
    <operation name="addPersonWithSimpleType">
      <input wsam:Action="http://notebookwebservice.mickaelbaron.fr/NotebookService/addPersonWithSimpleType" message="tns:addPersonWithSimpleType"/>
    </operation>
  </portType>
  <binding name="NotebookPortBinding" type="tns:NotebookService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addPersonWithComplexType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPersons">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPersonByName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addPersonWithSimpleType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="NotebookService">
    <port name="NotebookPort" binding="tns:NotebookPortBinding">
      <soap:address location="http://localhost:8080/notebookwebservice/notebook"/>
    </port>
  </service>
</definitions>

